*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: whitesmoke; 
}

.fit{
  margin: 2px;
  width: 80%;
  margin-left: 10%;
  border-radius: 360px;
  border: 2px solid rebeccapurple;
}

.menu{
  background-color: aqua;
  padding-left: 6%;
}

.menu-list{
  background-color: aqua;
  display: flex; 
  padding: 20px;
  margin-bottom: 20px;
  
  list-style-type: none;
}

.menu-list, ul, li, a{
  background-color: aqua;
  margin-inline: 7px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.title{
  font-weight: 800;
  font-size: 28px;
  display: flex; 
  justify-content: center;
  padding-bottom: 10px;
}

.para{
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
}

#form{
  box-shadow: 5px 10px 20px #191919;
  margin-left: 2%;
  margin-top: 50px;
  padding-left: 10px;
  padding-top: 8px;
  margin-right: 40%;
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-right: 10px;
  border: 2px solid burlywood;
}

#fname, #lname, #country, #subject{
  width: 100%;
  border: 2px solid burlywood;
 
}

#submit{
  background-color: burlywood;
  width: 10%;
  height: 25px;
  margin-left: 10%;
  margin-bottom: 10px;
  justify-content: center;
}

.grid{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 100px;  
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 13%;
    margin-right: 13%;
    margin-top: 10%;
}

